<button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="'/home'">
  <mat-icon>home</mat-icon>
</button>
<div id="outerDiv">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div id="lastDiv">
                <marquee
                  ><h1>
                    A floating banner text which keeps on rotating
                  </h1></marquee
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
