<h1 style="text-align: center"><strong> Angular Assignment</strong></h1>
<div class="list">
  <mat-card class="example-card">
    <mat-card-title>The Floating Banner</mat-card-title>

    <mat-card-actions>
      <button mat-fab color="primary" [routerLink]="'/route1'">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>The e-commerce Page</mat-card-title>

    <mat-card-actions>
      <button mat-fab color="primary" [routerLink]="'/route2'">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>A count down timer page </mat-card-title>

    <mat-card-actions>
      <button mat-fab color="primary" [routerLink]="'/route3'">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>A count down timer page with Service</mat-card-title>

    <mat-card-actions>
      <button mat-fab color="primary" [routerLink]="'/route4'">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Students Data</mat-card-title>

    <mat-card-actions>
      <button mat-fab color="primary" [routerLink]="'/route5'">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Dynamic Div Creation</mat-card-title>

    <mat-card-actions>
      <button mat-fab color="primary" [routerLink]="'/route6'">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
